body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

h1 {
    font-size: 30px; 
    cursor: default;
    color: #494949;
}

.dark-mode h1 {
    color: #fff;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

#quote-container {
    max-width: 1000px;
    min-width: 1000px;
    text-align: center;
    padding: 10px;
    font-size: 50px;
    border-radius: 8px;
    margin: 10px;
    background-color: #f7f7f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #f7f7f7;
    border: 1px solid #333; /* Border color for light mode */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #333;
    color: #fff;
    border-color: #fff; /* Border color on hover */
}

.dark-mode #quote-container {
    background-color: #444;
    color: #fff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.dark-mode button {
    background-color: #555;
    color: #fff;
    border: 1px solid #fff; /* Border color for dark mode */
}

.dark-mode button:hover {
    background-color: #ffffff;
    color: #000;
    border-color: #fff; /* Border color on hover in dark mode */
}
