body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

#quote-container {
    max-width: 600px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #333; /* Border color for light mode */
}

.dark-mode #quote-container {
    background-color: #444;
    color: #fff;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.dark-mode button {
    background-color: #555;
    color: #fff;
    border: 1px solid #fff; /* Border color for dark mode */
}
